@font-face{
    font-family: "20784";
    src: url(SHRIFT/20784.ttf) format("truetype");
}

@font-face{
    font-family: "Monte";
    src: url(SHRIFT/Montserrat.ttf) format("truetype");
}

@font-face{
    font-family: "Oswal";
    src: url(SHRIFT/Oswaldextralight.ttf) format("truetype");
}

@font-face{
    font-family: "Poppins";
    src: url(SHRIFT/Poppins-Black.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    background-color: #b5e0d3;
    padding-bottom: 40px; 
    
}

.header {
    background-color: #525252;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo {
    height: 45px; 
    margin-right: 20px; 
}

.header-text {
    font-family: "20784";
    color: white; 
    margin: 0 30px;
    font-weight: bold;
    text-decoration: none;
}
.header-text a {
    color: white; 
    text-decoration: none;
    font-size: 13px; 
}

.header-text a:hover,
.header-text a:active {
    color: white; 
}


.blok {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
    background-color: #fff; 
    color: #333; 
    padding: 40px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    margin-bottom: 40px; 
}

.blok h2 {
    font-size: 2.2rem; 
    margin-bottom: 20px; 
    color: #333; 
    font-family: "20784";
}

.blok p {
    font-size: 1.2rem; 
    line-height: 1.6; 
    margin-bottom: 15px; 
    font-family: "Poppins";
}


main {
    padding: 20px 0;
}
